.searchbar {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.searchbar form {
  display: flex;
  align-items: center;
}

.searchbar label {
  margin-right: 1rem;
  color: #ff9800;
  font-weight: bold;
}

.searchbar input {
  padding: 0.5rem;
  border: 1px solid #ff9800;
  border-radius: 4px;
  outline: none;
  position: relative;
}

.searchbar input:focus {
  border-color: #ffcc80;
}

.searchbar input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23ff9800" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>') no-repeat center center;
  cursor: pointer;
}

.searchbar input[type="search"]::-ms-clear {
  display: none;
}

.searchbar input[type="search"]::-ms-reveal {
  display: none;
}

.searchbar input[type="search"]::-moz-clear {
  display: none;
}